.u-section-1 .u-sheet-1 {
  min-height: 707px;
}

.u-section-1 .u-layout-wrap-1 {
  background-image: none;
  margin-top: 62px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 570px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  letter-spacing: 0px;
  font-weight: 700;
  margin: 61px 89px 0 175px;
}

.u-section-1 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: -13px auto 0 90px;
}

.u-section-1 .u-text-2 {
  line-height: 1.8;
  margin: -45px 89px 0 175px;
}

.u-section-1 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 62px auto 0 90px;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  letter-spacing: 0px;
  font-weight: 700;
  margin: -63px 89px 0 175px;
}

.u-section-1 .u-text-4 {
  line-height: 1.8;
  margin: 7px 89px 0 175px;
}

.u-section-1 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 82px auto 0 90px;
}

.u-section-1 .u-text-5 {
  font-size: 1.25rem;
  letter-spacing: 0px;
  font-weight: 700;
  margin: -62px 89px 0 175px;
}

.u-section-1 .u-text-6 {
  line-height: 1.8;
  margin: 5px 89px 0 175px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 570px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  margin: 12px 0 0;
}

.u-section-1 .u-form-1 {
  height: 386px;
  width: 510px;
  margin: 42px 0 0;
}

.u-section-1 .u-label-1 {
  font-weight: 700;
}

.u-section-1 .u-label-2 {
  font-weight: 700;
}

.u-section-1 .u-label-3 {
  font-weight: 700;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  width: 100%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 607px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 358px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 470px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 139px;
    margin-left: 125px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -44px;
    margin-left: 125px;
    margin-right: 39px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 39px;
    margin-left: 125px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -17px;
    margin-right: 39px;
    margin-left: 125px;
  }

  .u-section-1 .u-text-5 {
    width: 306px;
    margin-right: 39px;
    margin-left: 125px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 39px;
    margin-left: 125px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 470px;
  }

  .u-section-1 .u-form-1 {
    width: 410px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 237px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 594px;
    margin-bottom: -13px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 106px;
    margin-left: 54px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 54px;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 54px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 54px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 54px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 54px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 0;
  }

  .u-section-1 .u-form-1 {
    width: 300px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 337px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: -395px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    margin-top: 1069px;
    margin-bottom: -295px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
  }
}